/* .filter-section {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
    flex-wrap: wrap;
}

.filter-section input, .clear-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
}

.clear-button {
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background-color: #e63939;
}

@media (max-width: 768px) {
    .filter-section {
        flex-direction: column;
        align-items: center;
    }

    .filter-section input, .clear-button {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .filter-section input, .clear-button {
        width: 100%;
    }
} */