.filter-section {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 30px;
}

.filter-section input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
}

.clear-button {
    background-color: #ff4d4d;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    transition: background-color 0.3s ease;
}

.clear-button:hover {
    background-color: #e63939;
}