<div class="post-overview">
  <h1 class="overview-title">Published posts</h1>

  <app-post-filter (filterChanged)="applyFilters($event)"></app-post-filter>

  <div class="post-grid">
    @if (posts.length > 0) {
      @for (post of filteredPosts; track post.title) {
        <div class="post-container">
          <app-post-item [post]="post" class="post-item"></app-post-item>
          <app-post-item-buttons [postId]="post.id" [comments]="post.comments"></app-post-item-buttons>
        </div>
      }
    }
    @else {
      <p class="no-posts">No posts found</p>
    }
  </div>
</div>