<nav class="bg-gray-800 text-white">
  <div class="container mx-auto px-4 py-3 flex justify-between items-center">
    <div class="flex space-x-4">
      <a routerLink="/" class="text-white hover:text-gray-300 font-medium">Login</a>
      <a routerLink="/published-posts" class="text-white hover:text-gray-300 font-medium">Home</a>
      <a routerLink="/create" class="text-white hover:text-gray-300 font-medium">Create Post</a>
      <a routerLink="/all-posts" class="text-white hover:text-gray-300 font-medium">Edit Posts</a>
      <a routerLink="/review" class="text-white hover:text-gray-300 font-medium">Review Posts</a>
    </div>
  </div>
</nav>