<div class="posts-to-review space-y-6">
  <!-- Titel -->
  <h1 class="overview-title text-3xl font-bold text-gray-800 text-center">Posts to Review</h1>

  <!-- Grid Container -->
  <div class="post-grid grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <!-- Unauthorized Message -->
    @if (isAuthorized() === false) {
      <p class="no-posts text-red-500 text-center font-medium">Unauthorized</p>
    }
    <!-- Posts List -->
    @else if (posts.length > 0) {
      @for (post of posts; track post.title) {
        <div>
          <!-- Post Item -->
          <app-post-item [post]="post" class="post-item"></app-post-item>

          <!-- Review Comment -->
          <app-review-comment [comment]="post.comment" class="review-comment mt-4"></app-review-comment>

          <!-- Review Buttons -->
          <app-review-buttons 
            [postId]="post.id" 
            class="review-buttons flex justify-between mt-4"
          ></app-review-buttons>
        </div>
      }
    }
    <!-- No Posts Found Message -->
    @else {
      <p class="no-posts text-gray-500 text-center">No posts found</p>
    }
  </div>
</div>